.logo {
    position:absolute;

}

.primero{
    background-color: black;
    color: white;
    font-size: 10px;
}

#menu {
    left: 780px;
    position: relative;
    text-align: left;
    justify-content: center;
}

#idioma {
    position: relative;
    left: 870px;
    text-align: left;
    justify-content: center;
    
}

#moneda {
    position: relative;
    left: 950px;
    text-align: left;
    justify-content: center;

}

.header {
    background-color: orange;
}

#logos {
    position: relative;
    justify-content: space-between;
    padding: 10px;
    left: 550px;
}

.logo {
    justify-content: space-around;
}

.productos {
    background-color: beige;
}