.banner {
    background-image: url(./img/lemon-pie\ 1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    height: 300px;
    padding: 20px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

h1{
    font-family:  Courier ;
    letter-spacing: 0.5rem;
}

p{
    line-height: 30px;
}



